<%= form_tag bicycles_path, method: "get", id: "filter" do %>
  <p><%= select "bicycle", "category", options_for_select(@categories),
             { prompt: 'Select Category' }, onchange: "this.form.submit();" %>
    <%= link_to 'Clear', bicycles_path %>
  </p>
<% end %>
<%= form_tag bicycles_path, method: 'get', id: "bicycles_search" do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", name: nil %>
    </p>
<% end %>
<% @bicycles.each do |bicycle| %>
  <%= link_to bicycle.name, bicycle_path(bicycle) %>
  <%= bicycle.desc %>
  <br>
  <%= link_to 'Edit', edit_bicycle_path(bicycle) %>
  <%= link_to 'Delete', bicycle_path(bicycle), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>