<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <h3>My bicycles</h3>
    <br>
    <% @bicycles.each do |bicycle| %>
        <h4><%= link_to bicycle.name, bicycle_path(bicycle)%></h4>
        <p><%= bicycle.desc %></p>
    <% end %>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <h3>Suggestions to my bicycles</h3>
    <br>
    <% @my_suggestions.each do |suggestion| %>
        <h4><%= suggestion.name %></h4>
        <p><%= suggestion.desc %></p>
        <p>Suggested at <%= suggestion.created_at %></p>
    <% end %>
  </div>
</div>